// Variables
// ---

// Bootstrap variables
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';

// Colours
$colour-light-grey: #F2F2F2;
$colour-dark-grey:  #2F2F2F;
$colour-blue: #2f5597;

// Font sizes
$font-size-base: 16px;