<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="qt-footer">
        <div class="qt-footer__logo">
          <img src="/img/logo/logo-uos.png"/>
        </div>
      </div>
    </div>
  </div>
</div>