<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="qt-header clearfix">
        <div class="qt-header__container qt-header__container--left">
          <img src="/img/logo/logo-uk-nqt.png">
        </div>
        <div class="qt-header__container qt-header__container--right">
          <img src="/img/logo/logo-qt-hub.png">
        </div>
        <div class="qt-title">
          <img src="/img/logo/title.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>