<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
  <div class="qt-overlay">
    <div class="qt-media-container">
      <!-- <object class="qt-media-container__pdf" data="/pdf/test_0.pdf" type="application/pdf" width="300" height="200">
        alt : <a href="test.pdf">test.pdf</a>
      </object> -->
      <video class="qt-media-container__video" controls>
        <source
            src="/video/test.mp4"
            type="video/mp4">
      </video>
    </div>
  </div>
</body>
</html>