<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <div class="row flex-row">
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-video="video/test.mp4">
          <div class="qt-card__image" style="background-image: url('/img/placeholder.jpg');">
            <h2 class="qt-card__title">Video Title</h2>
          </div>
          <p class="qt-card__description">How do we use atoms to measure magnetic fields?</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-pdf="pdf/test_0.pdf">
          <div class="qt-card__image" style="background-image: url('/img/placeholder.jpg');">
            <h2 class="qt-card__title">Video Title</h2>
          </div>
          <p class="qt-card__description">Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card">
          <div class="qt-card__image" style="background-image: url('/img/placeholder.jpg');">
            <h2 class="qt-card__title">Video Title</h2>
          </div>
          <p class="qt-card__description">Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card">
          <div class="qt-card__image" style="background-image: url('/img/placeholder.jpg');">
            <h2 class="qt-card__title">Video Title</h2>
          </div>
          <p class="qt-card__description">Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card">
          <div class="qt-card__image" style="background-image: url('/img/placeholder.jpg');">
            <h2 class="qt-card__title">Video Title</h2>
          </div>
          <p class="qt-card__description">Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card">
          <div class="qt-card__image" style="background-image: url('/img/placeholder.jpg');">
            <h2 class="qt-card__title">Video Title</h2>
          </div>
          <p class="qt-card__description">Video Description</p>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
  <% include ../partials/jquery.ejs %>
</body>
</html>