<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="qt-card" data-qt-card data-qt-video="video/test.mp4">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card" data-qt-card data-qt-pdf="pdf/test_0.pdf">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
  <% include ../partials/jquery.ejs %>
</body>
</html>