<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="qt-title">QSD QT Showcase 2017 Interface</h1>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="qt-card">
          <div class="qt-card__image">
            <img src="/img/placeholder.jpg" />
          </div>
          <h2>Video Title</h2>
          <p>Video Description</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>