<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>

<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <div class="row flex-row">
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-video="video/micro-intro.mp4" data-qt-subs="video/micro-intro.vtt">
          <div class="qt-card__image" style="background-image: url('/img/tiles/microscopy.png');">
            <h4 class="qt-card__title">Magnetic microscopy</h4>
          </div>
          <p class="qt-card__description">urface conductivity mapping with Bose-Einstein condensates</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-pdf="pdf/applications.pdf">
          <div class="qt-card__image" style="background-image: url('/img/tiles/apps.png');">
            <h4 class="qt-card__title">Microscopy applications</h4>
          </div>
          <p class="qt-card__description">Advanced materials and devices</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-pdf="pdf/specs.pdf">
          <div class="qt-card__image" style="background-image: url('/img/tiles/specs.png');">
            <h4 class="qt-card__title">Microscope specifications</h4>
          </div>
          <p class="qt-card__description">Technical description and NABC of the cold atom magnetic microscope with sameple exchange facility</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-pdf="pdf/megfull.pdf">
          <div class="qt-card__image" style="background-image: url('/img/tiles/meg-head.png');">
            <h4 class="qt-card__title">Bio-magnetism</h4>
          </div>
          <p class="qt-card__description">Developing magnetic field sensors for medical imaging</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-pdf="pdf/3d-paper.pdf">
          <div class="qt-card__image" style="background-image: url('/img/tiles/3d-paper.png');">
            <h4 class="qt-card__title">3D-printed components for quantum devices</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 qt-card__wrapper">
        <div class="qt-card" data-qt-card data-qt-video="video/as-video.mp4">
          <div class="qt-card__image" style="background-image: url('/img/tiles/as-video.png');">
            <h4 class="qt-card__title">Cold atom source in action</h4>
          </div>
          <p class="qt-card__description">View footage from the first generation cold atom source</p>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer.ejs %>
  <% include ../partials/jquery.ejs %>
</body>
</html>
