.qt-close-button {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-image: url('/img/icons/close.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}