.qt-header {
  position: relative;
  margin: 15px 30px;

  &__container {
    position: absolute;
    top: 0;

    &--left {
      left: 0;
      width: 12%;
    }

    &--right {
      right: 0;
      width: 19%;
    }
  }
}