.qt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colour-dark-grey;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;

  &.is-active {
    opacity: 1;
  }
}